/* For Webkit (Chrome, Safari, including macOS) */
::-webkit-scrollbar {
    width: 40px; /* Width of the scrollbar - adjust as needed */
  }
  

  
  /* Optional: scrollbar track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the track */
  }
  
  /* Optional: scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3; /* Color when hovering over the scrollbar thumb */
  }
  