/* For Webkit (Chrome, Safari, including macOS) */
::-webkit-scrollbar {
width: 40px; /* Width of the scrollbar - adjust as needed */
}


/* Optional: scrollbar track */
::-webkit-scrollbar-track {
background: #f1f1f1; /* Color of the track */
}

html {
overflow-y: scroll; /* This will force the vertical scrollbar to be visible */
}

.magic-cursor {
    cursor: url('/assets/img/cursorhead.png'), auto;
}