.validationDog {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 50px auto;

  label {
    margin-bottom: 5px;
  }

  input {
    padding: 5px;
    margin-bottom: 10px;
  }

  .error-message {
    color: red;
    margin-top: 5px;
  }

  .hidden {
    display: none;
  }
}
